<html>
<head>
    <meta charset="utf-8" />
    <title>Client-Credential-Flow</title>

    <style>
        .container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            margin: 3px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 3px 2px;
        }
        .input-container {
            margin:3px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 3px 2px;
        }
        .input-form {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .input-group {
            display: inline-flex;
            padding: 10px;
        }
        .input-group > label {
            flex: 25%;
        }

        .input-group > input,
        .input-group > select,
        .input-group > .input-container,
        .input-group > textarea {
            flex: 75%;
        }
        .multi-input-group {
            display: inline-flex;
            padding: 10px;
        }
        .multi-input-group > label {
            flex: 15%;
        }

        .multi-input-group > input,
        .multi-input-group > select,
        .multi-input-group > textarea {
            flex: 35%;
            margin-right: 10px;
        }
        .button-group {
            display: inline-flex;
        }
        .reset-button,
        .submit-button {
            flex: 45%;
            padding: 5px;
            margin: 5px;
            color: #000;
            background-color: #e4e4e4;
            border: 2px solid #000;
            border-radius: 3px 2px;
        }
        .reset-button:hover,
        .reset-button:focus {
            color: #a11;
            border: 2px solid #a11;
        }

        .submit-button:hover,
        .submit-button:focus {
            color: #1a1;
            border: 2px solid #1a1;
        }
        .result-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin:3px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 3px 2px;
        }
        .results-item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .result-group {
            display: flex;
            flex: 45%;
            flex-direction: column;
            flex-wrap: nowrap;
            margin:3px;
            padding: 10px;
            border: 1px dotted black;
            border-radius: 3px 2px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="input-container">
        <h2>Client-Credential-Flow</h2>
        <p>Please enter the necessary information:</p>
        <form class="input-form" method="post" action="/api/flows/cc">
            <div class="input-group">
                <label for="issuerUrl"><b>Issuer: </b></label>
                <input type="text" id="issuerUrl" name="issuerUrl" />
            </div>
            <div class="input-group">
                <label for="clientId"><b>Client-ID: </b></label>
                <input type="text" id="clientId" name="clientId" />
            </div>
            <div class="input-group">
                <label for="clientSecret"><b>Password: </b></label>
                <input type="password" id="clientSecret" name="clientSecret" />
            </div>
            <button id="submit"  type="submit"  value="submit" >Submit</button>
        </form>
        <button id="btn_back" onclick="location.href = 'http://localhost:8081/api/discovery/issuer';" class="button backButton">Back to Discovery</button><br><br>
    </div>
    <div class="result-container">
        <p class="message-item">{{message}}</p>
        {{#if showResults}}
            <div class="results-item">
                <div class="result-group">
                    <h2>Header</h2>
                    <pre>{{ header }}</pre>
                </div>
                <div class="result-group">
                    <h2>Payload</h2>
                    <pre>{{{ payload }}}</pre>
                </div>
            </div>
        {{/if}}
    </div>
</div>
</body>
</html>