<html>
<head>
        <meta charset="utf-8" />
        <title>App</title>
</head>
<body>
<div class="center">
    <h3>Hello Login Page</h3>

    <button id="btn_back" onclick="location.href = 'http://localhost:8081/api/discovery/issuer';" class="button backButton">Back</button><br><br>
</div>
</body>
</html>